################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/out/build/x64-Debug
/.vs
/testEnvironments.json
/build-GUI-Desktop_Qt_5_15_2_MSVC2019_64bit-Debug
/build-GUI-Desktop_Qt_5_15_2_MSVC2019_64bit-Debugconfig.json
/CMakeLists.txt.user
/build-GUI-Desktop_Qt_5_15_2_MinGW_64_bit-Debug
/GUI/.vs/GUI/FileContentIndex
/GUI/.vs
/GUI/out/build/x64-Debug
